<!DOCTYPE html>
<html lang="en">

<head>
  <title>Authors</title>
  <!-- Dependencies -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="http://backbonejs.org/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
  <style type="text/css">
    .wrapper{
      width: 650px;
      margin: 0 auto;
    }
    .page-header h2{
      margin-top: 0;
    }
    table tr td:last-child a{
      margin-right: 15px;
    }
  </style>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" id="nav_art">
        <a href="#">Articles</a></li>
      <li role="presentation" id="nav_aut">
        <a href="#authors">Authors</a></li>
      <li role="presentation" id="nav_cat">
        <a href="#categories">Categories</a></li>
    </ul>
  </div>
      <!-- Sidebar -->
    <div id="sidebar">
        
    </div>
  <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header clearfix">
                      <div id="header">
                      </div>
                      <br>
                      <div id="content">
                      </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <!-- templates -->
    <script type="text/template" id="tpl-header">
      <button class="btn btn-dark new">New Entity</button>
    </script>

    <script type="text/template" id="tpl-article-list-item">
      <a href="#articles/<%= id %>"><%= title %></a>
    </script>

    <script type="text/template" id="tpl-author-list-item">
      <a href="#authors/<%= id %>"><%= name %></a>
    </script>

    <script type="text/template" id="tpl-category-list-item">
      <a href="#categories/<%= id %>"><%= categorie %></a>
    </script>


    <script type="text/template" id="tpl-article-details">
      <div class="form-group">
          <label>Id:</label>
          <input class="form-control" type="text" id="articleId" name="id" value="<%= article.id %>" disabled />
          <br>
          <label>Title:</label>
          <input class="form-control" type="text" id="title" name="title" value="<%= article.title %>" required/>
          <br>
          <label for="exampleFormControlSelect1">Author</label>
          <select class="form-control" id="author_id">
            <% for(var i = 0; i < authors.length; ++i) { %>
              <% authorObject = authors.at(i).toJSON() %>
              <option value="<%= authorObject.id %>" <% if( article.author_id == authorObject.id) { %> selected="selected"<% } %>>
                <%= authorObject.name %>
              </option> 
            <% } %>
          </select>
          <br>
          <label>Description:</label>
          <textarea class="form-control" rows="5" id="description" name="description"><%= article.description %></textarea>
          <br>
          <label> Categories:</label>
          <select multiple="multiple" id="article_categories" name="categories[]">
            <% for(var i = 0; i < categories.length; ++i) { %>
              <% categoriesObject = categories.at(i).toJSON(); var selected = 0; %>
              <% if(art_cat) { %>
                <% for(var x = 0; x < art_cat.length; ++x) { 
                    if(art_cat[x].categories_id == categoriesObject.id) {
                      selected =1;
                    }
                 } %>
              <% } %>
              <option <% if(selected == 1){%>selected<%}%>><%=categoriesObject.categorie%></option>
            <% } %>
          </select>
      </div>
      <button type="button" class="btn btn-dark save">Save</button>
      <button type="button" class="btn btn-danger delete">Delete</button>
    </script>

    <script type="text/template" id="tpl-author-details">
      <div class="form-group">
          <label>Id:</label>
          <input class="form-control" type="text" id="authorId" name="id" value="<%= id %>" disabled />
          <label>Name:</label>
          <input class="form-control" type="text" id="name" name="name" value="<%= name %>" required/>
      </div>
      <button type="button" class="btn btn-dark save">Save</button>
      <button type="button" class="btn btn-danger delete">Delete</button>
    </script>

    <script type="text/template" id="tpl-category-details">
      <div class="form-group">
          <label>Id:</label>
          <input class="form-control" type="text" id="categoryId" name="id" value="<%= id %>" disabled />
          <label>Category:</label>
          <input class="form-control" type="text" id="category" name="category" value="<%= categorie %>" required/>
      </div>
      <button type="button" class="btn btn-dark save">Save</button>
      <button type="button" class="btn btn-danger delete">Delete</button>
    </script>

    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>
</body>
</html>
